.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 0;
  color: #023047;
  font-size: 40px;
}
.project img {
  width: 700px;
  border-radius: 10px;
}

.project p {
  font-size: 30px;
  color: #023047;
}

.project svg {
  font-size: 45px;
  color: #023047;
}
